h1 {background-color: white; color:#c60021; letter-spacing: 0.4em; padding: 0.8em ; text-align: center; font-family: 'Saira', "Trebuchet MS", Tahoma, sans-serif}
body {color:black; background-color:rgb(219, 250, 239);font-family:'Dosis', Verdana, Tahoma, sans-serif}
h2 {background-color:rgb(49, 185, 138); color: white; padding: 0.3em 0.8em 0.3em 0.8em; font-family: 'Saira', "Trebuchet MS", Tahoma, sans-serif}
footer{color: grey; font-size: 0.8em; font-style:italic; text-align:center; margin: 0.1em}
nav{font-family: 'Tourney', cursive;font-weight: 900;}